<div id="test" >
</div>
<table class="basic-table">
  <thead>
  	<tr>
  		<th><%= t("Taxonomy") %></th>
  		<th><%= t("Path") %></th>
  		<th><%= t("Taxon") %></th>
  		<th><%= t("Action") %></th>
  	</tr>
  </thead>
  <tbody>
    <% Taxonomy.find(:all).each do |taxonomy| %>
			<%= render :partial => "taxon_table_line", :locals => { :taxonomy => taxonomy }  %>
    <% end %>
  </tbody>
</table>
